<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Progress Bar Demo</title>

		<script src='http://cdn.ractivejs.org/latest/ractive.js'></script>
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	  
	</head>
	<body>
		<div class="title">Progress Bars Demo</div>
		<div id="container"></div>
		
		<script id="template" type="text/ractive">
			{{#each progressbars:i}}
				<div id="{{i}}" on-click="selectBar:{{i}}" class="progressbar {{#if selectedBarIndex == i}}selected{{/if}}">  
					<div class="fill {{#if value > 100}}overflow{{/if}}" style="width: {{progress}}%"></div>
				   <div class="value">{{value}}%</div>
				</div> 
			{{/each}}

			<div id="controls">
				<select id="elementSelector" value="{{selectedBarIndex}}">
					{{#each progressbars:i}}
						<option value="{{i}}">{{name}}</option>
					{{/each}}
				</select>
				<button on-click="updateBar:-25" class="controlbutton" value="-25">-25</button>
				<button on-click="updateBar:-10" class="controlbutton" value="-10">-10</button>
				<button on-click="updateBar:10" class="controlbutton" value="+10">+10</button>
				<button on-click="updateBar:25" class="controlbutton" value="+25">+25</button>
			</div>
		</script>
	
		<script type="text/javascript" src="assets/js/script.js"></script>
		
	</body>
	
</html>