@import 'boxes';

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

button, input, textarea {
	-webkit-appearance: none;	
}

select {
	@include border-radius(0px);
}

@mixin linear-gradient($direction, $gradients...) {
	background-color: nth($gradients, 1);
  	background: -webkit-linear-gradient($direction, $gradients...); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($direction, $gradients...); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($direction, $gradients...); /* For Firefox 3.6 to 15 */
    background: linear-gradient($direction, $gradients...); /* Standard syntax (must be last) */
}