@import 'default';

$bar_normal_colour: #afd7e6;
$bar_overflow_colour: #fc0c1b;

$border_colour: #cccccc;

body {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
}

.title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
}

.progressbar {
    width: 100%;
    height: 40px;
    border: 1px solid $border_colour;
    margin-bottom: 10px;
    position: relative;
    
    .fill {
    	background-color: $bar_normal_colour;
    	height: 100%;
    	max-width: 100%;
    	
    	&.overflow {
    		background-color: $bar_overflow_colour;
    	}
    }
    &.selected {
    	border-width: 2px;
    	.value {
    		font-weight: 600;
    	}
    }
    .value {
		width: 100%;
		line-height: 40px;
		position: absolute;
		top: 0;    
		text-align: center;
    }
}

#elementSelector {
	width: 50%;
	float: left;
	font-size: 14px;
}

.controlbutton {
	width: 10%;
	float: left;
	margin-left: 2.5%;
	text-align: center;
	font-size: 14px;
	@include border-radius(0px);
	@include linear-gradient(to bottom, #FFFFFF, #CCCCCC);
}

@media (max-width: 600px) {

}